Repository syahdarom/gkeep-clone: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ., prettier -w

.lintstagedrc.json:

{
  "*.{js,mjs,ts,mts}": "eslint .",
  "*.{css,js,mjs,ts,mts,tsx,json,yaml,yml,md,mdx}": "prettier -w"
}

chore: add MIT License
  LICENSE.txt
  package.json
Due: prettier -w

chore: set the engine-strict to true
  .npmrc
Due: none

chore: set up the commitlint
  .husky/commit-msg
  commitlint.config.mjs
  package.json
  pnpm-lock.yaml
Due: eslint ., prettier -w

chore: update the .gitignore
  .gitignore
Due: none

build: change the version of Node.js and pnpm
  package.json
Due: prettier -w

chore: initialize a be-express app package
  .gitignore
  apps/be-express/.env.example
  apps/be-express/LICENSE.txt
  apps/be-express/build.js
  apps/be-express/eslint.config.ts
  apps/be-express/package.json
  apps/be-express/src/config/envConfig.ts
  apps/be-express/src/config/setupEnv.ts
  apps/be-express/src/middleware/errorHandler.middleware.ts
  apps/be-express/src/middleware/httpLogger.middleware.ts
  apps/be-express/src/middleware/requestId.middleware.ts
  apps/be-express/src/model/http.ts
  apps/be-express/src/server.ts
  apps/be-express/src/types/express.d.ts
  apps/be-express/src/types/http.d.ts
  apps/be-express/src/util/logger.ts
  apps/be-express/tsconfig.json
  apps/be-express/turbo.json
  pnpm-lock.yaml
  turbo.json
Due: eslint ., prettier -w

fix: fix the be-express package ENV management
  apps/be-express/.env.example
  apps/be-express/package.json
  apps/be-express/src/config/envConfig.ts
  apps/be-express/src/config/setupEnv.ts
  apps/be-express/src/server.ts
  apps/be-express/src/util/logger.ts
  apps/be-express/turbo.json
  turbo.json
Due: eslint ., prettier -w

chore: add JSON Schema for the turbo.json
  apps/be-express/turbo.json
Due: prettier -w

chore: add and configure the eslint-plugin-turbo
  apps/be-express/eslint.config.ts
  apps/be-express/package.json
  pnpm-lock.yaml
  turbo.json
Due: eslint ., prettier -w

chore: remove the cross-env package
  apps/be-express/package.json
  pnpm-lock.yaml
Due: prettier -w

docs: create a RESTful API specification
  packages/docs/open-api/apiSpec.yaml
Due: prettier -w

chore: disable a commitlint rule
  commitlint.config.mjs
Due: eslint ., prettier -w

docs: reset the RESTful API spec initial version
  packages/docs/open-api/apiSpec.yaml
Due: prettier -w

feat(create-turbo): apply pnpm-eslint transform
  .vscode/settings.json
Due: prettier -w

feat(create-turbo): apply official-starter transform
  meta.json
  package.json
Due: prettier -w

feat(create-turbo): install dependencies
  pnpm-lock.yaml
Due: prettier -w

chore: update the Prettier configuration
  .editorconfig
  .prettierignore
  package.json
  pnpm-lock.yaml
  prettier.config.mjs
Due: eslint ., prettier -w

style: format all source code files
  apps/docs/app/layout.tsx
  apps/docs/app/page.module.css
  apps/docs/app/page.tsx
  apps/docs/eslint.config.js
  apps/docs/tsconfig.json
  apps/web/app/layout.tsx
  apps/web/app/page.module.css
  apps/web/app/page.tsx
  apps/web/eslint.config.js
  apps/web/tsconfig.json
  package.json
  packages/eslint-config/base.js
  packages/eslint-config/next.js
  packages/eslint-config/react-internal.js
  packages/ui/eslint.config.mjs
  packages/ui/src/button.tsx
  packages/ui/src/card.tsx
  packages/ui/src/code.tsx
  pnpm-workspace.yaml
Due: eslint ., prettier -w

chore: register root tasks for formatting source code files
  package.json
  turbo.json
Due: prettier -w

chore: set up ESLint for the workspace root
  eslint.config.mts
  package.json
  pnpm-lock.yaml
  turbo.json
Due: eslint ., prettier -w

chore: set up lint-staged and Husky
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: prettier -w

chore: initialize a be-fastify app package
  apps/be-fastify/.env.example
  apps/be-fastify/eslint.config.ts
  apps/be-fastify/package.json
  apps/be-fastify/src/config/envConfig.ts
  apps/be-fastify/src/config/fastifyConfig.ts
  apps/be-fastify/src/exception/ServerError.ts
  apps/be-fastify/src/model/http.ts
  apps/be-fastify/src/plugin/app.ts
  apps/be-fastify/src/plugin/route-handler/errorHandler.test.ts
  apps/be-fastify/src/plugin/route-handler/errorHandler.ts
  apps/be-fastify/src/plugin/route/ok.route.ts
  apps/be-fastify/src/plugin/route/okRoute.test.ts
  apps/be-fastify/src/plugin/route/routes.ts
  apps/be-fastify/src/server.ts
  apps/be-fastify/src/types/server.ts
  apps/be-fastify/test/setup-files/vitest.setup-env.ts
  apps/be-fastify/tsconfig.base.json
  apps/be-fastify/tsconfig.build.json
  apps/be-fastify/tsconfig.json
  apps/be-fastify/tsconfig.vitest.json
  apps/be-fastify/turbo.json
  apps/be-fastify/vitest.config.ts
  pnpm-lock.yaml
  turbo.json
Due: eslint ., prettier -w

chore: add package.json scripts on the workspace root
  package.json
Due: prettier -w

chore: update the Git pre-commit hook
  .husky/pre-commit
Due: none

chore: add and apply a Prettier plugin
  package.json
  pnpm-lock.yaml
  prettier.config.mjs
Due: eslint ., prettier -w

chore: update the TS configs on the be-fastify app pkg
  apps/be-fastify/tsconfig.base.json
  apps/be-fastify/tsconfig.build.json
  apps/be-fastify/tsconfig.json
  apps/be-fastify/tsconfig.vitest.json
Due: prettier -w

chore: update the ESLint config on the be-fastify app pkg
  apps/be-fastify/eslint.config.ts
Due: eslint ., prettier -w

test: import the Vitest expect function
  apps/be-fastify/src/plugin/route-handler/errorHandler.test.ts
Due: eslint ., prettier -w

chore: initialize a fe-react-router app package
  apps/fe-react-router/.dockerignore
  apps/fe-react-router/.gitignore
  apps/fe-react-router/Dockerfile
  apps/fe-react-router/README.md
  apps/fe-react-router/app/app.css
  apps/fe-react-router/app/root.tsx
  apps/fe-react-router/app/routes.ts
  apps/fe-react-router/app/routes/home.tsx
  apps/fe-react-router/app/welcome/logo-dark.svg
  apps/fe-react-router/app/welcome/logo-light.svg
  apps/fe-react-router/app/welcome/welcome.tsx
  apps/fe-react-router/eslint.config.ts
  apps/fe-react-router/package.json
  apps/fe-react-router/public/favicon.ico
  apps/fe-react-router/react-router.config.ts
  apps/fe-react-router/tsconfig.json
  apps/fe-react-router/turbo.json
  apps/fe-react-router/vite.config.ts
  pnpm-lock.yaml
  turbo.json
Due: eslint ., prettier -w

chore: install and configure shadcn/ui
  apps/fe-react-router/app/app.css
  apps/fe-react-router/app/lib/utils.ts
  apps/fe-react-router/components.json
  apps/fe-react-router/package.json
  pnpm-lock.yaml
Due: eslint ., prettier -w

chore(workspace-root): update the package.json name
  package.json
Due: prettier -w
